/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 27 abr 2023, 20:22:52
    Author     : USUARIO
*/

main{
    background-color: lightgray;
    padding: 0;
    margin: 0;
}

  .cuerpo_tabla{
    height: 50vh;
  display:block;
  overflow-y:scroll;
  width:100%;
  }

  .cuerpo_tabla::-webkit-scrollbar {
  display: none;
}


  thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;/* even columns width , fix width of table too*/
}

/** CHECKBOX **/
 /* Customize the label (the container) */
.cont {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.cont input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.cont:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.cont input:checked ~ .checkmark {
  background-color: orangered;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.cont input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.cont .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
} 
/**************/



input{
    border: 1px solid orangered;
     
}

input[type='radio']{
    color:orangered !important;
}

#suma_total{
    font-size: 2rem;
   font-family: 'Potta One', 'Staatliches', cursive !important;
   color:orangered;

}

#finalizar_Compra{
    border: unset;
    color: white;
    font-size:1.25rem;
    background-color:lightsalmon;
    transition-duration: 0.7s;
}


#finalizar_Compra:hover{
    background-color:orangered;
    font-size: 1.75rem;
}

#navegador_Sec{
   
    font-family: 'Potta One', 'Staatliches', cursive !important; 
   
}

#navegador_Sec ol li::before {
  content: " | ";
}

#gradiante{
     background-image: linear-gradient(to left, orangered , white);
}

#not_enough_money_modal{
    display:block;
}
#recordar_direccion:checked{
    border-color:orangered;
}