.titulo_seccion
{
    color: orangered;
}

#cabeza{
    margin-bottom: 1px;
}

.header_Seccion
{
    background-image: url('../img/perifericos_entrada.jpg');
    object-fit: cover;
}


.navegador_secundario{
    color: #fff;
    list-style: none;
    padding: 0;
}

.navegador_secundario a{
    text-decoration: none;
    color: #fff;
}

.producto-estado h5
{
    font-size: 1.35em;
}

#barra_nav_busqueda{
    border-top: 2px solid orangered;
    border-bottom: 2px solid orangered;
}

#barra_nav_busqueda button{
    color: orangered !important;
    background-color: #fff;
    border: 1px orangered solid;
}

#barra_nav_busqueda button:focus{

    background-color: orangered;
    color: #fff !important;
    transition-duration: 0.7s;
}

#barra_nav_busqueda button:hover{

    background-color: orangered;
    color: #fff !important;
    transition-duration: 0.7s;
}

#buscar{
    border: 1px solid orangered !important;
}

::placeholder{
    color:orangered !important;
}

#cuerpo_productos{
    background-color: lightgray !important;
}

#paginas ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

#paginas a{
    text-decoration: none;
    color: #000;
}

#paginas a:hover{
    text-decoration:underline;
    color: orangered;
    transition-duration: 0.7s;
}

#paginas li{
    padding: 3%;
}

.caja_producto{
    padding: 1%;
}

.caja_producto * img{
    width: 90%;
    margin: auto;
}

.caja_producto a{
    text-decoration: none;
    font-family: 'Potta One', 'Staatliches', cursive !important;
}

.caja_producto a:hover{
color:orangered !important;
transition-duration: 0.5s;
}

#error_mostrar{
    height: 50vh;
}

/*MEDIAS*/

@media screen and (max-width: 500px){
    #paginas a{
    font-size: 0.65em;
}

.producto-estado h5
{
    font-size: 1.15em;
}
}
