/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 2 may 2023, 22:47:40
    Author     : USUARIO
    1-ETIQUETAS
    2-CLASES
    3-IDS
    4-MEDIAS
*/

aside i{
    font-size: 3rem;
}

aside button{
    background-color: orangered;
    border: unset;
    border-radius: 10px;
}


.accion{
     position: relative;
  display: inline-block;
}

.accion .ayuda {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
}





/*****MODAL BAJA USUARIO*****/

.class_modal_baja
{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    right: 35%;
    top: 25%;
    background-color: #fff;
}

    .class_modal_baja h2
{
    font-size: 2rem;
}

.contenido_modal_baja h2{
color:orangered !important;
}

.confirmar_accion{
    background-color: salmon;
    color: #fff;
}

.confirmar_accion:hover{
    background-color: orangered;
    color: #fff;
}

#mi_modal_baja
{
-webkit-box-shadow: 0px 0px 127px -33px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 127px -33px rgba(0,0,0,0.75);
box-shadow: 0px 0px 127px -33px rgba(0,0,0,0.75);
}

/* The Close Button */
.close_baja {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close_baja:hover,
.close_baja:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/******************************************/


/****************************/

.accion:hover .ayuda {
  visibility: visible;
}

.ayuda{
    font-size: 0.7em;
}


#navegador_Sec,label{
        font-family: 'Potta One', 'Staatliches', cursive;

}

#navegador_Sec ol li:first-of-type::after{
content:' | ';
}

#nombre__usuario{
    color:purple;
}

#cabecera_profile{
    color: orangered;
}

#alerta{
    position:relative;
    display:none;
}

label span{
        font-family: 'DM Sans','Space Grotesk',sans-serif !important;

}


/***********FOTO DE PERFIL***********/

#caja_foto{
    overflow: hidden;
    background-color: lightgrey;
    width: 500px;
    height: 500px;
    margin:auto;
    display:flex;
    justify-content: center;
    align-items: center;
}

#foto_img{
    width: 400px;
    text-align:center;
    height: 400px;
    object-fit: cover;
}

/**********************************/

@media screen and (max-width: 1400px){

    #caja_foto{
        width: 350px;
        height: 350px;
    }
    
    #foto_img{
        width: 250px;
        height: 250px;
    }
    

}





@media screen and (max-width: 550px){

    #caja_foto{
        width: 300px;
        height: 300px;
    }
    
    #foto_img{
        width: 250px;
        height: 250px;
    }
    

}