/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 20 abr 2023, 23:17:19
    Author     : USUARIO
*/



/***** VENTANA MODAL ******/
.class_modal
{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    right: 30%;
    top: 5%;
    background-color: #fff;
}

    .class_modal h2
{
    font-size: 2rem;
}

.contenido_modal h2{
color:orangered !important;
}


#mi_modal
{
-webkit-box-shadow: 0px 0px 127px -33px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 127px -33px rgba(0,0,0,0.75);
box-shadow: 0px 0px 127px -33px rgba(0,0,0,0.75);
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/******************************************/

.divisor{
    height: 1vh;
    background-color: orangered;
}


#navegador_Sec ol li::before {
  content: " | ";
}

#navegador_Sec{
    border-bottom: 1px solid #272727;
    font-family: 'Potta One', 'Staatliches', cursive !important; 
   
}

#navegador_Sec ol{
    padding: 0 !important;
}


#lista_caracteristicas ul li span{
    font-family: 'DM Sans','Space Grotesk',sans-serif !important;
}

#lista_caracteristicas li strong{
      font-family: 'Potta One', 'Staatliches', cursive !important; 
}



#detalles_box ol{
    list-style: none;
    padding-left: 0;
    margin: 0;
}

#modal_btn{
    border: none;
    background: none;
    bottom: 0;
    right: 0;
}

#marca_box{
    font-size: 0.8rem;
}

#marca_box li:before{
    content: ' | ';
}

#precio-box{
    color:orangered;
}

#garantia-box{
    background-color:lightsalmon;
}

#envio-box{
    background-color:lightgray;
}

#envio_Details:before{
      content: ' | ';  
}

#caja_btn_carrito{
    border: orange 2px solid !important;
    transition-duration: 0.7s;
}

#caja_btn_carrito:hover{
    color:orangered;
}

#limite_alcanzado{
    display:none;
}

#registrarse_ahora{
color:purple;
}



@media screen and (max-width: 500px){
    .class_modal
{
    right: 10%;
    top: 10%;
}

    .class_modal h2
{
    font-size: 1rem;
}
}